@charset "utf-8";
*, *:before, *:after {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
body {
	background-image: url('../images/bg.png');
	font-size: 24px;
	font-family: 'MicroSoft YaHei';
}
body:after {
	content: '';
	display: none;
}
img{
	border: none;
}
.show{
	display: block;
}
.alter{
	width: 200px;
	margin: 20px auto;
}
.alter input{
	display: block;
	height: 20px;
}
.hid{
	display: none;
}
.clearfix {
	*zoom: 1;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
	line-height: 0;
}
.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 44px;
	background-color: #222222;
}
.header > * {
	float: left;
}
.header > .logo {
	padding: 6px 16px;
}
.header > .logo > a {
	color: #fff;
}
.header > .nav_btn {
 	display: none;
}
.header > .nav > li {
	float: left;
	padding: 11.5px 16px;
	font-size: 16px;
}
.header > .nav > li:focus{
	background-color: #111111;
}
.header > .nav > li > a {
	color: #C8C9CA;
}
.header > .nav > li > a:hover{
	color: #ffffff;
}
.header > .search {
	padding-top: 1px;
}
.header > .search > .search_text {
	position: relative;
	width: 200px;
	height: 26px;
	font-size: 14px;
	color: #676767;
	padding-left: 6px;
	outline: none;
}
.header > .search > .search_btn {
	position: relative;
	top: 11px;
	left: -7px;
	height: 26px;
	width: 26px;
	margin-left: -26px;
	outline: none;
	border: none;
	cursor: pointer;
	background: url(../images/search-btn.png) no-repeat;
}
.header > .operation {
	float: right;
	margin-right: 20px; 
	width: 150px;
	height: 44px;
	font-size: 18px;
}
.header > .operation > .login {
	float: left;
	margin-left: 10px;
	line-height: 44px;
}
.header > .operation a {
	color: #0F66CC;
}
.header > .operation > .register {
	float: left;
	margin-left: 10px;
	line-height: 44px;
}
.container {
	margin: 104px auto 60px;
	max-width: 1000px;
	padding: 0 12px 0 12px;
}
.upgrade {
	width: 300px;
	height: auto;
	margin: 100px auto;
	background: #eee;
}
.container > .content {
	float: left;
	min-height: 600px;
	text-align: center;
	background-color: #eee;
}
.container > .content > .content-right_btn {
	width: 90%;
	margin: 20px auto;
	height: 50px;
	background-color: #D66D50;
}
.container > .content > .content-right_btn > a {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
}
.container > .content > .content-right_btn > a:hover {
	color: #00FFFF;
	background-color: #34A357;
}
.container > .content > .content-right_btn > a:focus {
	color: #FDA301;
	background: #33348E;
}

.container > .content-left {
	margin: 0 3% 0 0;
	width: 75%;
}
.container > .content-left > .reveal_div {
	display: none;
}
.container > .content-left > .curr_div {
	display: block;
	width: 90%;
	min-height: 500px;
	margin: 20px auto;
	border: 2px solid #D66D50;
}
.container > .content-top {
	display: none;
}
.container > .content_admin {
	width: 100%;
}
.container > .content_admin > .content_admin-nav {
	float: left;
	width: 20%;
}
.container > .content_admin > .content_admin-nav > .public-nav {
	margin-top: 60px;
	border: 1px solid #D66D50;
}
.container > .content_admin > .content_admin-nav > .public-nav > li {
	height: 36px;
	width: 100%;
	border: 1px solid #D66D50;
	
}
.container > .content_admin > .content_admin-nav > .public-nav > li > .reveal_nav {
	display: block;
	height: 36px;
	width: 100%;
	line-height: 36px;
	font-size: 16px;
}
.container > .content_admin > .content_admin-nav > .public-nav > li > .reveal_nav:hover,.curr_nav {
	color: #FDA301;
	border: none;
	background: #33348E;
}
.container > .content_admin > .content_admin-show {
	width: 80%;
	float: right;

}
.container > .content_admin > .content_admin-show > .reveal_div {
	height: 10px;
	width: 90%;
	margin: 5px auto;
	border: 2px solid #34A357;
	overflow: hidden;
}
.container > .content_admin > .content_admin-show > .curr_div {
	display: block;
	margin: 5px auto;
	border: 2px solid #D56EA6;
	min-height: 500px;
	width: 90%;
}
.container > .content_admin > .content_admin-show > .reveal_div > .management {
	width: 90%;
	min-height: 400px;
	border: 2px solid #D56EA6;
	margin: 20px auto;
}
.container > .content-right {
	width: 22%;
}
.content-left > .reveal_div > .question_answer {
	display: block;
	width: 90%;
	min-height: 200px;
	margin: 10px auto;
	border: 2px dashed #D56EA6;
}
.content-left > .reveal_div > .latest_posts {
	display: block;
	width: 90%;
	min-height: 300px;
	margin: 10px auto;
	border: 2px dashed #D56EA6;
}
.content-left > .reveal_div > .form {
	width: 90%;
	margin: 20px auto;
}
.content-left > .reveal_div > .form > .title {
	display: block;
	width: 90%;
	height: 40px;
	margin: 20px auto;
	border: 1px dashed #D56EA6;
	padding-left: 10px;
}
.content-left > .reveal_div > .form > .main {
	display: block;
	width: 90%;
	font-size: 16PX;
	height: 100px;
	margin: 20px auto;
	border: 1px dashed #D56EA6;
	padding-left: 10px;
}
.content-left > .reveal_div > .form > .posting_btn {
	width: 20%;
	font-size: 16PX;
	height: 40px;
	line-height: 40px;
	margin: 20px auto 20px;
	color: #FDA301;
	background: #33348E;
}
.content-left > .reveal_div > .form > .posting_btn:hover {
	color: #00FFFF;
	background-color: #34A357;
}
.header > .hide {
	display: none;
}
.container-in {
	margin: 104px auto 60px;
	max-width: 1000px;
	padding: 0 12px 0 12px;
}
.container-in > .content-in {
	text-align: center;
	width: 100%;
	background-color: #eee;
}
.container-in > .content-in > .topic {
	width: 80%;
	margin: 0px auto 20px;
	min-height: 400px;
	padding: 20px 0;
}
.container-in > .content-in > .topic > .title {
	margin: -10px auto;
	padding: 60px 8px 0 8px;
	text-align: center;
	width: 100%;
	word-break:break-word;
}
.container-in > .content-in > .topic > .host{
	margin: 10px auto;
	height: 16px;
	font-size: 16px;
	text-align: left;
	width: 100%;
}
.container-in > .content-in > .topic > .main {
	margin: 20px auto;
	height: 100px;
	border: 1px solid #D56EA6;
	text-align: left;
	width: 100%;
	padding: 4px 8px;
}
.container-in > .content-in > .topic > .main > p {
	font-size: 16px;
	line-height: 20px;
	height: 100px;
	word-break:break-word;
}
.container-in > .content-in > .topic > .write {
	width: 100%;
	margin: 20px auto;
	height: 100px;
}
.container-in > .content-in > .topic > .write > .write_main {
	width: 94%;
	height: 70px;
	font-size: 16px;
	padding: 6px 8px;
}
.container-in > .content-in > .topic > .answer {
	width: 100%;
	min-height: 100px;
	margin: 20px auto;
	border: 2px dashed #D56EA6;
}
/**
 * 响应式
 * @divice-width<768px:小屏幕;
 * 768px<@divice-width<1200px:中等屏幕;
 * 1200px<@divice-width:大屏幕;
 */

/**
 * 小屏幕
 */
@media screen and (max-width: 768px) {
 	body:after{
 		content: 'small';
 	}
 	.header > .search {
		display: block;
	}
 	.container > .content_admin > .content_admin-nav {
		float: left;
		width: 100%;
	}
	.container > .content_admin > .content_admin-nav > .public-nav {
		margin: 30px 40px;
		border: 1px solid #D66D50;
	}
	.container > .content_admin > .content_admin-nav > .public-nav > li {
		float: left;
		height: 36px;
		width: 25%;
		border: 1px solid #D66D50;
		
	}
	.container > .content_admin > .content_admin-nav > .public-nav > li > .reveal_nav {
		display: block;
		height: 36px;
		width: 100%;
		line-height: 36px;
		font-size: 16px;
	}
	.container > .content_admin > .content_admin-nav > .public-nav > li > .reveal_nav:hover,.curr_nav {
		color: #FDA301;
		border: none;
		background: #33348E;
	}
	.container > .content_admin > .content_admin-show {
		width: 100%;
		float: right;

	}
 	.header > .operation {
		display: none;
	}
 	.header > .nav {
 		float: none;
 		position: absolute;
 		width: 100%;
 		background-color: #EEEEEE;
 		top: 100%;
 		left: 0;
 	}
 	.header > .nav_btn {
 		position: absolute;
 		top: 0;
    	right: 15px;
    	display: block;
    	cursor: pointer;
    	font-size: 20px;
 		width: 42px;
 		height: 44px;
 		background-color: #111111;
 		color: #ffffff;
    	padding: 6px 11px;
 	}
 	.header > .nav > li {
 		float: none;
 		height: 36px;
 		padding: 6px 16px;
 		border-bottom: 1px solid #E5E5E5;
 	}
 	.header > .nav > li > a {
 		color: #666666;
 		display: block;
 		width: 100%;
 	}
 	.header > .nav > li > a:focus,.header > .nav > li > a:hover {
 		color: #148cf1;
 	}
 	.container > .content_top > .content-right_btn {
		width: 90%;
		margin: 20px auto;
		height: 40px;
		background-color: #D66D50;
	}
	.container > .content_top > .content-right_btn > a {
		display: block;
		width: 100%;
		height: 40px;
		line-height: 40px;
		font-size: 16px;
	}
	.container > .content_top > .content-right_btn > a:hover {
		color: #00FFFF;
		background-color: #34A357;
	}
 	.container > .content_top {
		float: left;
		text-align: center;
		background-color: #eee;
	}
 	.container > .content-top {
		display: block;
		width: 100%;
		height: 70px;
	}
	.container > .content-top > .content-right_btn {
		display: inline-block;
		width: 20%;
	}
 	.container > .content-left {
 		width: 100%;
 	}
 	.container > .content-right {
 		display: none;
 	}
}
/**
* 中等屏幕
*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
	.header > .operation {
		margin-right: -30px; 
	}
	.phone {
		display: none;
	}
}
/**
* 大屏幕
*/
@media screen and (min-width: 1200px) {
	.header > .logo {
		margin-left: 170px; 
	}
	.header > .operation {
		margin-right: 136px; 
	}
	.phone {
		display: none;
	}
}